@page "/ShowBoats"
@model SpectraModel

@section cssForPage {

    <link rel="stylesheet" href="~/css/Boat.css" />

}

<div>

    <form method="post">

        <button class="buttonReturn" type="submit" asp-page-handler="Return">Return To Overview</button>

    </form>

</div>