body {
    background-color: black !important;
}

.text1 {
    margin-top: 4vh;
    color: rgb(255,255,255);
}

button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transform: translate(-50%,-50%);
    color: rgb(255,255,255);
    text-shadow: 1.3px 1.3px 0 black, -1.3px 1.3px 0 black, 1.3px -1.3px 0 black, -1.3px -1.3px 0 black, 1.3px 0 0 black, -1.3px 0 0 black, 0 1.3px 0 black, 0 -1.3px 0 black;
}

.button1 {
    margin-top: 30vh;
    margin-left: 20vw;
    width: 15vw;
    height: 15vh;
    font-size: 2em;
    background-color: rgb(0,150,255);
}

.button2 {
    margin-top: 30vh;
    margin-left: 40vw;
    width: 15vw;
    height: 15vh;
    font-size: 2em;
    background-color: rgb(0,255,0);
}

.button3 {
    margin-top: 30vh;
    margin-left: 60vw;
    width: 15vw;
    height: 15vh;
    font-size: 2em;
    background-color: rgb(255,255,0);
}

.button4 {
    margin-top: 30vh;
    margin-left: 80vw;
    width: 15vw;
    height: 15vh;
    font-size: 2em;
    background-color: rgb(255,50,255);
}